asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.7
Django==6.0.2
django-extensions==4.1
djangorestframework==3.17.1
et_xmlfile==2.0.0
gunicorn==26.0.0
idna==3.11
kavenegar==1.1.2
MarkupSafe==3.0.3
openpyxl==3.1.5
packaging==26.2
pillow==12.1.1
psycopg2-binary==2.9.12
requests==2.33.1
sqlparse==0.5.5
tzdata==2025.3
urllib3==2.6.3
Werkzeug==3.1.8
zibal_payment==1.0.2
